/* body-background: black */
/* font-color: var(--text); */
/* #ffd300 */
/* #3f9384 */

:root {
  --main-bg-color: #000000;
  --text: #f4b350;
  /*--table-head-bg: #e67e22;*/
  --table-head-bg:  #905a09;
  --table-head-fg:  #f9d59f;
  --table-border: #f1a027;
}

body {
  background-color: var(--main-bg-color);
}


