.t-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.t-form-body {
  overflow: auto;
  flex: 1 1 auto;
  position: relative;
  padding: 0;
}

.t-form-ba {
  margin-top: 1rem;
  flex: 0 0 auto;
}

.t-form-cell {
  /* padding:  0 .5rem; */
  margin: .5rem auto;
  /* width: 100%; */
}

.t-form label {
  /*display: block;*/
  display: inline-block;
  margin-bottom: .3rem;
  width: 100%;
  font-weight: bold;
  color: var(--frm-label-fg);
}

.t-form fieldset {
  border: 1px solid #666;
}

.t-form legend {
  background: #666;
  padding: .5rem;
  margin: 0;
  color: #000;
}

.t-form input,
.t-form select,
.t-form textarea {
  font-family: t-mono;
  width: 100%;
  background: var(--frm-input-bg);
  color: var(--frm-input-fg);
  outline: none;
  border: none;
  border: 1px solid var(--frm-input-border);
  padding: .3rem .3rem;
}

.t-form input:focus,
.t-form input[type="file"],
.t-form textarea:focus {
  background: var(--frm-input-focus-bg);
  color: var(--frm-input-focus-fg);
}
.t-form input:read-only,
.t-form input:disabled,
.t-form input[type="file"]:disabled,
.t-form textarea:read-only,
.t-form textarea:disabled {
  border: 1px solid var(--frm-input-disabled-border);
  color: var(--frm-input-disabled);
}
.t-form textarea {
  scrollbar-color: black gray;
}

.t-form select {
  /*appearance:none;*/
}
.t-form .t-form-inline > input,
.t-form .t-form-inline > select {
  display: inline-flex;
  width: auto;
}

.t-form-cell-error input {
  border: 1px solid #ff3f00;
  /* border-left: 8px solid #ff3f00; */
}
.t-form-cell-error span {
  color: #ff3f00;
}
@media only screen and (min-width: 60.625em) { /* min-width 970px, large screens */
}
