<?php if (!empty($data['alert'])): ?>
  <div class="toco-col">
    <div class="toco-auto">
      <?php foreach ($data['alert'] as $alert): ?>
        <div class="t-alert t-alert-<?= $alert[0] ?>" role="alert">
          <?= $alert[1] ?>
        </div>
      <?php endforeach; ?>
    </div>
  </div>
<?php endif; ?>
