<?php sesto_view_render($views, 'list_header', $data); ?>
<form
  id="t-context-form"
  class="t-form"
  action="<?= $data['form_action'] ?>"
  novalidate=""
  method="post">

  <?php foreach ($data['screen']['fieldsets']['rows'] ?? [] as $row_num => $row): ?>
    <!-- row -->
    <div id="t-row-<?= $row_num ?>" class="toco-row t_form_row">
      <?php foreach ($row['cells'] as $field_name => $cell): ?>
        <!-- cell -->
        <?php $validation_class = isset($data['validation'][$field_name]) ? 'form-cell-error' : '' ?>
        <div id="t-cell-<?= $field_name ?>"
             class="toco-<?= $cell['size'] ?> t-form-cell <?= $validation_class ?>" >
          <!-- label -->
          <label><?= $cell['label'][0] ?></label>
          <?php if ('textarea' === $cell['html']['element']): ?>
            <?= tamiso_html_textarea($field_name, $data['record'][$field_name], $cell['html']['attribs']) ?>
          <?php else: ?>
            <?= tamiso_html_input($field_name, $data['record'][$field_name], $cell['html']['element'], $cell['html']['attribs']) ?>
          <?php endif ?>
          <?php if ('' !== $validation_class): ?>
            <span><?= $data['validation'][$field_name] ?></span>
          <?php endif ?>
        </div>
        <!-- end cell -->
      <?php endforeach ?>
    </div>
    <!-- end row -->
  <?php endforeach ?>
  <?php foreach ($data['screen']['hidden'] ?? [] as $field_name): ?>
      <?= tamiso_html_input($field_name, $data['record'][$field_name], 'input', ['type' => 'hidden']) ?>
  <?php endforeach ?>
</form>
