<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tamiso</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/toco-core.css">
    <link rel="stylesheet" href="/css/toco-grid-24.css">
    <link rel="stylesheet" href="/css/tamiso.css">
    <link rel="stylesheet" href="/css/tamiso_button.css">
    <link rel="stylesheet" href="/css/tamiso_form.css">
    <link rel="stylesheet" href="/css/tamiso_listing.css">
    <link rel="stylesheet" href="/css/tamiso_alert.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery-3.5.1.min.js"></script>
  </head>
  <body>
    <div id="t-wrapper" class="toco-col">
        <?php sesto_view_render($views, 'page_header', $data); ?>
      <div id="t-main" class="toco-auto">
        <?php sesto_view_render($views, 'alert', $data); ?>
        <?php sesto_view_render($views, 'page_content', $data); ?>
      </div>
      <?php sesto_view_render($views, 'page_footer', $data); ?>
      <!--<script src="/js/toco.js"></script>-->
    </div>
    <script>
    </script>
  </body>
</html>
