<div id="t-header" class="toco-auto">
  <div id="t-header-content" class="toco-row">
    <!--<div class="toco-initial"><button class="toco-btn toco-btn-primary" onclick="openNav()">☰ Menu</button></div>-->
    <div class="toco-initial"><button class="toco-btn toco-btn-primary" onclick="openNav()"><i class="fas fa-bars"></i> Menu</button></div>
    <div class="toco-initial">
      <nav aria-label="breadcrumb">
        <ol class="t-breadcrumb">
          <li class="breadcrumb-item"><button class="toco-btn toco-btn-primary" onclick="openNav()">☰</button><?= $data['t_bcrumb'][0]['label'] ?></li>
          <li class="breadcrumb-item active"><?= $data['t_bcrumb'][1]['label'] ?></li>
        </ol>
      </nav>
    </div>
  </div>
</div>

